body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #eef4ed;  
}

header a{
    font-size: 50px;
}
header, footer {
    background-color: #134074;
    color: white;
    padding: 20px 15px;
    text-align: center;
}
.booking-container {
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-pastel {
    background-color: #134074; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.btn-pastel:hover {
    background-color: #13315c;
}

.contact-info .btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
}

.thank-you-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    background-color: #134074;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 8px; 
    font-family: 'Playfair Display',serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.thank-you-box h3 {
    margin-top: 0;
    color: #ffffff;
}

.thank-you-box p {
    color: #ffffff;
    line-height: 1.5;
}

nav {
    background-color: #134074; 
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #13315c; 
}

button, a {
    text-decoration: none;
    background-color: #134074;
    color: white;
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover, a:hover {
    background-color: #13315c;
}
